body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 20px;
    overflow: hidden;
}

.top-image {
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #ffffff;
}

input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ff4500;
    border-radius: 5px;
    background-color: #000000;
    color: #fff;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #ff4500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #ff6347;
    transform: scale(1.05);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    color: #000;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    max-width: 90%;
    max-height: 80%;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.hidden {
    display: none;
}

#countdown {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ff4500;
    font-weight: bold;
}

#undecisionsList {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

#undecisionsList li {
    font-size: 1.5em;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #ff4500;
    border-radius: 10px;
    background-color: #f4f4f4;
    color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#result button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #ff4500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#result button:hover {
    background-color: #ff6347;
    transform: scale(1.05);
}

.dot {
    color: #ff4500;
    font-size: 1.5em;
}

.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    padding: 100px;
}

#matrixImage {
    max-width: 150%;
    height: auto;
}
